<template>
  <div class="overview">
    <h1>Overview</h1>
  </div>
</template>

<style scoped>
.overview {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4), 0 -1px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(253, 253, 253, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  border-radius: 25px;
}
</style>
